<!DOCTYPE html>
<html>
<head>
  <title>System Information</title>
</head>
<body>
<h2>RAM</h2>
<table>
  <tr>
    <th>#Toplam</th>
    <th>#Kullanılan</th>
    <th>#Boş</th>
  </tr>
  <tr>
    <% @mem_info.each do |i| %>
    <td style="text-align: center"><%= i + "MB" %> </td>
    <% end %>  </tr>
</table>

<h2>CPU</h2>
<table width="600px">
  <tr>
    <th>#Uptime</th>
    <th>#Ort. Load(1 Dak.)</th>
    <th>#Ort. Load(5 Dak.)</th>
    <th>#Ort. Load(15 Dak.)</th>
  </tr>
  <tr>
    <td style="text-align: center"><%= @uptime %></td>
    <% @cpu_info.each do |i| %>
        <td style="text-align: center" >%<%= i %> </td>
    <% end %>  </tr>
</table>

<h2>Disk</h2>
<table>
  <tr>
    <th>#Disk</th>
    <th>#Toplam</th>
    <th>#Kullanılan</th>
    <th>#Boş</th>
    <th>#Oran</th>
    <th>#Mount</th>
  </tr>
    <% @fs.each do |i| %>
      <tr>
      <% k = 0
        i.each do |j|%>
            <td style="text-align: center"><%= j %></td>
        <% end %>
      </tr>
    <% end %>
</table>
</body>
</html>